.row.game
  %div.row
    %div.date{class: "small-12 columns"}
      = Time.parse(game['Date']).strftime('%a %b %-d')
      = ' – '
      = game['Start']

  %div.row.matchup
    %div{class: "small-5 columns"}= game['Visitor']
    %div{class: "small-2 columns versus"}= "vs"
    %div{class: "small-5 columns"}= game['Home']

  - if played_game == true
    %div.row
      %div.scores.small-6.columns= (game['VisitorPts'].blank?) ? ' - ': game['VisitorPts']
      %div.scores.small-6.columns= (game['HomePts'].blank?) ? ' - ': game['HomePts']

  %div.row.venue
    %div{class: "small-12 columns"}
      .rink
        = game['Facility']