.row.game
  %div.row
    %div{class: "small-#{(played_game == false) ? 6 : 5} columns"}= game['Visitor']

    - if played_game == true
      %div.scores.small-2.columns= (game['VisitorPts'].blank?) ? ' - ': game['VisitorPts']

    %div.date{class: "small-#{(played_game == false) ? 6 : 5} columns"}= Time.parse(game['Date']).strftime('%a %b %d')

  %div.row
    %div{class: "small-#{(played_game == false) ? 6 : 5} columns"}= game['Home']

    - if played_game == true
      %div.scores.small-2.columns= (game['HomePts'].blank?) ? ' - ': game['HomePts']

    %div{class: "small-#{(played_game == false) ? 6 : 5} columns details"}
      %span.time= game['Start']
      %span.rink
        = (game['Facility'] == 'Indoor') ? 'Indoor' : 'Outdoor'

  - if played_game == false
    - prev_games = Game.find_previous_games(game).limit(5)

    - if !prev_games.blank? or game['Facility'] == 'Outdoor'
      .small-12.large-12.columns
        .stats-wrapper
          %a{'data-rink' => (game['Facility'] == 'Indoor') ? 'Indoor' : 'Outdoor', 'data-date' => game['Date'] , 'data-hour' => game['Start'][0..1]}
            pre-game
            %i.fa.fa-chevron-down

          .content

            - if game['Facility'] != 'Indoor'
              %div{class: "small-12 large-6 columns weather"}
                .panel
                  %strong Game Time Weather Forecast
                  .weather-forecast
                    .condition-icon
                    .condition-text
                    .condition-temp
                    .condition-wind
                    .condition-humidity


            - unless prev_games.blank?
              %div{class: "small-12 large-6 columns history"}
                .panel
                  %strong Previous Games
                  %div
                    %table
                      - prev_games.each do |prev_game|
                        %tr
                          %td= "#{prev_game['season']} - #{Time.parse(prev_game['date']).strftime('%b %d')}"
                          %td= prev_game['facility']
                          %td= get_game_result(prev_game, ENV['TEAM_NAME'])
                    .clear

  - elsif current_user.try(:admin?)

    - # determine if game has been added to our database already
    - game_search = Game.search_exact_game game['Date'], convert_time_to_24_hour(game['Start']), game
    - if game_search.blank?
      %div{style: 'float: right;'}
        %a{href: generate_add_game_url(game), style: 'font-size: 10px;'}
          add game