.row.game
  %div{class: "small-#{(played_game == false) ? 6 : 5} columns teams"}
    %div= game['Visitor']
    %div= game['Home']

  - if played_game == true
    .small-2.columns.scores
      %div= game['VisitorPts']
      %div= game['HomePts']

  %div{class: "small-#{(played_game == false) ? 6 : 5} columns details"}
    %div.date= Time.parse(game['Date']).strftime('%a %b %d')
    %div
      %span.time= game['Start']
      %span.rink
        = (game['Facility'] == 'Indoor') ? 'Indoor' : 'Outdoor'