%section#schedule
  - if @schedule.blank?
    %div{class: 'alert-box alert', 'data-alert' => ''}
      %p Boo... Something went wrong. Schedules were not found or had errors.

  - else
    - unless @schedule[:future_games].blank?

      .row.next-game
        .small-12.large-12.columns
          %h2 Next Game:
          = render partial: 'game', locals: { game: @schedule[:future_games][0], played_game: false }

      - unless @schedule[:future_games][1].blank?
        .row
          .small-12.large-12.columns
            %h2 Next Two Games:
            - @schedule[:future_games][1..2].each do |game|
              = render partial: 'game', locals: { game: game, played_game: false }

            .full-schedule
              - games_left = @schedule[:future_games].count - 3
              - if games_left > 0
                = raw "<p><i>#{games_left} additional games scheduled</i></p>"
                = link_to 'View Full Team Schedule', team_schedule_path, class: 'button secondary'