%section#schedule
  - if @vendetta_schedule.blank? or @weekend_warriors_schedule.blank?
    %div{class: 'alert-box alert', 'data-alert' => ''}
      %p Boo... Something went wrong. Schedules were not found or had errors.

  - else

    %h2 Upcoming Games
    .row
      .small-12.large-6.columns
        %h4 Vendetta

        - @vendetta_schedule[:future_games][0..1].each do |game|
          = render partial: 'game', locals: { game: game, played_game: false }

        .full-schedule
          = link_to 'View Full Team Schedule', team_vendetta_path
          = link_to 'View Full League Schedule', 'http://www.ballhockey-canada.com/ballhockey/maxsolutions/niagara/schedules/LSch_Mens_1143.htm'

      .small-12.large-6.columns
        %h4 Weekend Warriors

        - @weekend_warriors_schedule[:future_games][0..1].each do |game|
          = render partial: 'game', locals: { game: game, played_game: false }

        .full-schedule
          = link_to 'View Full Team Schedule', team_weekend_warriors_path
          = link_to 'View Full League Schedule', 'http://www.ballhockey-canada.com/ballhockey/maxsolutions/niagara/schedules/LSch_Mens_1142.htm'