%section#standings
  .container
    .small-12.columns
      %h2
        = "#{@season.year} #{@season.division} #{@season.name} Standings"

      #standings
        %table.responsive
          %thead
            %tr
              %th
              %th Team
              %th GP
              %th W
              %th L
              %th T
              %th OTL
              %th PTS
              %th GF
              %th GA
              %th GD

          %tbody
            - i = 1
            - @data['body'].each do |row|
              - team = split_team_name_and_color(row['Team'])
              %tr{class: team[:name] == @team.name ? 'current-team' : '', "style" => team[:name] == @team.name ? "background-color: #{@team.primary_color};" : '' }
                %td= "#{i}."
                %td= team[:name]
                %td= row['GP']
                %td= row['W']
                %td= row['L']
                %td= row['T']
                %td= row['OTL']
                %td= row['PTS']
                %td= row['GF']
                %td= row['GA']
                %td= row['GD']
                - i += 1