%p#notice= notice

%p
  %b First name:
  = @player.first_name
%p
  %b Last name:
  = @player.last_name
%p
  %b Position:
  = @player.position
%p
  %b Number:
  = @player.number
%p
  %b Active:
  = @player.active


%hr
= link_to 'Edit', edit_player_path(@player), class: 'button tiny'
= link_to 'Back', players_path, class: 'button tiny secondary'
